@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
$theme: #00923f !default;

html {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button,
  label,
  input,
  span {
    font-family: 'Poppins', sans-serif !important;
  }
  .form-control,
  input,
  button,
  select,
  optgroup,
  textarea {
    font-family: 'Poppins', sans-serif !important;
  }

  .txt-bold {
    font-weight: 900 !important;
  }

  .navbar-brand img {
    height: 65px;
  }

  .bg-gradient-site {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .btn-nav-line {
    border-color: #00923f;
  }

  .btn {
    text-transform: capitalize;
  }

  .btn-theme {
    background: $theme;
  }

  .txt-theme-dk {
    color: #d4f4e2;
  }

  .form-auth {
    max-width: 382px;
    margin: 0 auto;
    margin-top: 6%;
  }

  .tab-content {
    .card {
      border: 0px;
    }
  }
  .authsidebg {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
    padding-top: 40%;
  }
  .logtxt {
    p {
      font-size: 10px;
    }
  }
}
