@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$theme: #00923f !default;

html {

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button,
  label,
  input,
  span {
    font-family: 'Rubik', sans-serif !important;
  }

  .form-control,
  input,
  button,
  select,
  optgroup,
  textarea {
    font-family: 'Rubik', sans-serif !important;
  }

  .txt-bold {
    font-weight: 900 !important;
  }

  .navbar-brand img {
    height: 65px;
  }

  .bg-gradient-site {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .btn-nav-line {
    border-color: #00923f;
  }

  .btn {
    text-transform: capitalize;
  }

  .btn-theme {
    background: $theme;
  }

  .txt-theme-dk {
    color: #d4f4e2;
  }

  .form-auth {
    max-width: 382px;
    margin: 0 auto;
    margin-top: 6%;
  }

  .tab-content {
    .card {
      border: 0px;
    }
  }

  .authsidebg {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
    padding-top: 40%;
  }

  .logtxt {
    p {
      font-size: 10px;
    }
  }

  .appview {
    min-height: 75vh;
  }

  .questlist {
    margin: 0px 0px 20px 0px;
  }

  .questlink {
    width: 47px;
    margin-right: 10px;
    line-height: 2.95;
    margin-bottom: 10px;
    display: inline-block;
    height: 47px;
    background: #F3F3F3;
    color: #54596E;
    border: 1px solid rgba(101, 105, 114, 0.19);
    text-align: center;
    border-radius: 6.87831px;
  }

  .questactive {
    background: #B1F0CC;
    border: 1px solid #279355;
  }

  .questionanswered {
    background: #097B3A;
    border: 1px solid #0D7038;
    color: white;
  }

  .learntopics span {
    margin-right: 6px;
  }

  .hiddrop::after {
    display: none;
  }
}